/tests export-ignore
/.github export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/.editorconfig export-ignore
/.pre-commit-config.yaml export-ignore
/.cursor export-ignore
/Makefile export-ignore
/DOCKER.md export-ignore
/*.diff export-ignore
/*.sh export-ignore

